<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ProjetJAVA</display-name>
  <welcome-file-list>
    <welcome-file>servletAccueil</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletInscription</display-name>
    <servlet-name>ServletInscription</servlet-name>
    <servlet-class>Servlet.ServletInscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInscription</servlet-name>
    <url-pattern>/ServletInscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>Servlet.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletNouvelleVente</display-name>
    <servlet-name>servletNouvelleVente</servlet-name>
    <servlet-class>Servlet.servletNouvelleVente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletNouvelleVente</servlet-name>
    <url-pattern>/servletNouvelleVente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletConnexion</display-name>
    <servlet-name>servletConnexion</servlet-name>
    <servlet-class>Servlet.servletConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletConnexion</servlet-name>
    <url-pattern>/servletConnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDeconnexion</display-name>
    <servlet-name>ServletDeconnexion</servlet-name>
    <servlet-class>Servlet.ServletDeconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDeconnexion</servlet-name>
    <url-pattern>/ServletDeconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletNavbarConnexion</display-name>
    <servlet-name>ServletNavbarConnexion</servlet-name>
    <servlet-class>Servlet.ServletNavbarConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNavbarConnexion</servlet-name>
    <url-pattern>/ServletNavbarConnexion</url-pattern>
  </servlet-mapping>
</web-app>