<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ProjetJAVA</display-name>
  <welcome-file-list>
    <welcome-file>servletAccueil</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletInscription</display-name>
    <servlet-name>ServletInscription</servlet-name>
    <servlet-class>Servlet.ServletInscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInscription</servlet-name>
    <url-pattern>/ServletInscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>Servlet.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletNouvelleVente</display-name>
    <servlet-name>servletNouvelleVente</servlet-name>
    <servlet-class>Servlet.servletNouvelleVente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletNouvelleVente</servlet-name>
    <url-pattern>/servletNouvelleVente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletConnexion</display-name>
    <servlet-name>servletConnexion</servlet-name>
    <servlet-class>Servlet.servletConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletConnexion</servlet-name>
    <url-pattern>/servletConnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDeconnexion</display-name>
    <servlet-name>ServletDeconnexion</servlet-name>
    <servlet-class>Servlet.ServletDeconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDeconnexion</servlet-name>
    <url-pattern>/ServletDeconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletNavbarConnexion</display-name>
    <servlet-name>ServletNavbarConnexion</servlet-name>
    <servlet-class>Servlet.ServletNavbarConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNavbarConnexion</servlet-name>
    <url-pattern>/ServletNavbarConnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServeletDirectionEncheres</display-name>
    <servlet-name>ServeletDirectionEncheres</servlet-name>
    <servlet-class>Servlet.ServeletDirectionEncheres</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeletDirectionEncheres</servlet-name>
    <url-pattern>/ServeletDirectionEncheres</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServeletDirectionVendreUnArticle</display-name>
    <servlet-name>ServeletDirectionVendreUnArticle</servlet-name>
    <servlet-class>Servlet.ServeletDirectionVendreUnArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeletDirectionVendreUnArticle</servlet-name>
    <url-pattern>/ServeletDirectionVendreUnArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServeletDirectionMonProfil</display-name>
    <servlet-name>ServeletDirectionMonProfil</servlet-name>
    <servlet-class>Servlet.ServeletDirectionMonProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeletDirectionMonProfil</servlet-name>
    <url-pattern>/ServeletDirectionMonProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServeletDirectionDeconnexion</display-name>
    <servlet-name>ServeletDirectionDeconnexion</servlet-name>
    <servlet-class>Servlet.ServeletDirectionDeconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeletDirectionDeconnexion</servlet-name>
    <url-pattern>/ServeletDirectionDeconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletNavBar</display-name>
    <servlet-name>ServletNavBar</servlet-name>
    <servlet-class>Servlet.ServletNavBar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNavBar</servlet-name>
    <url-pattern>/ServletNavBar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRedirectionNavBar</display-name>
    <servlet-name>ServletRedirectionNavBar</servlet-name>
    <servlet-class>Servlet.ServletRedirectionNavBar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRedirectionNavBar</servlet-name>
    <url-pattern>/ServletRedirectionNavBar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConnexion</display-name>
    <servlet-name>ServletConnexion</servlet-name>
    <servlet-class>Servlet.ServletConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConnexion</servlet-name>
    <url-pattern>/ServletConnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRedirectionRetour</display-name>
    <servlet-name>ServletRedirectionRetour</servlet-name>
    <servlet-class>Servlet.ServletRedirectionRetour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRedirectionRetour</servlet-name>
    <url-pattern>/ServletRedirectionRetour</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDeconn</display-name>
    <servlet-name>ServletDeconn</servlet-name>
    <servlet-class>Servlet.ServletDeconn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDeconn</servlet-name>
    <url-pattern>/ServletDeconn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRedirectionEncheres</display-name>
    <servlet-name>ServletRedirectionEncheres</servlet-name>
    <servlet-class>Servlet.ServletRedirectionEncheres</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRedirectionEncheres</servlet-name>
    <url-pattern>/ServletRedirectionEncheres</url-pattern>
  </servlet-mapping>
</web-app>